/*
.getmdl-select .mdl-icon-toggle__label {
	float: right;
	margin-top: -30px;
	color: rgba(0, 0, 0, 0.4);
}
.getmdl-select.is-focused .mdl-icon-toggle__label {color: #3f51b5}
.getmdl-select .mdl-menu__container {
  width: 100% !important;
  overflow: hidden;

  border: 1px solid #e3e2f1 !important;
  left: 0 !important;
  top: 47px !important;
  box-shadow: 2px 5px 5px #888888 !important;
}
.getmdl-select .mdl-menu__container .mdl-menu .mdl-menu__item {font-size: 16px}
.getmdl-select__fullwidth, .mdl-menu {width: 100%}
.getmdl-select__fix-height .mdl-menu__container {overflow-y: auto;max-height: 300px !important}
*/
