# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# transpiled_files
/src/*.js
/src/*.map

# misc
npm-debug.log

# e2e
/e2e

#System Files
Thumbs.db
